parameters:
	level: 6
	paths:
		- App
	tmpDir: var/temp/phpstan
	# Šablony Nette jsou dynamické objekty, proměnné se jim nastavují v presenterech
	universalObjectCratesClasses:
		- Nette\Bridges\ApplicationLatte\Template
